​<ion-view view-title="Detalles" >


<ion-content  ng-controller="NuevoFavoritoCtrl">
<div>
  <div class="item item-avatar">
  <img src="{{detalle.image}}" width="200" height="50">
    <h2> Nombre: {{detalle.title}}</h2>
    <h2>Direccion: {{detalle.direccion}}</h2>
    <h2>Tipo: {{detalle.tipo}}</h2>
  </div>
  </div>


  <div class="item item-body">
    <div class="item item-image">
        <img src="{{detalle.image}}">
      </div>

    <h1>Descripcion: {{detalle.description}}
    </h1>

      </ion-item>
      </div>

</ion-content>
</ion-view>
