<ion-view>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Lugares" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/app/tab/lugares">
    <ion-nav-view name="tab-lugares"></ion-nav-view>
  </ion-tab>
<ion-tab title="Agregar" icon-off="ion-plus-circled" icon-on="ion-plus-round" href="#/app/tab/favoritos">
    <ion-nav-view name="tab-favoritos"></ion-nav-view>
  </ion-tab>
 <ion-tab title="Configuracion" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
</ion-view>
